body{
  font-family: 'Roboto', sans-serif;
  color: #545E6C;
  background: #f5f5f5;
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
width=100%;
}

p {
  line-height: 1.5;
  margin: 0 0 10px;
  display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

header {
margin: 0;
width:auto;
padding: 10px;
}

.article {
margin: 0;
padding:10px;
}
.time {


color: #97AAC3;
}

.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 20px;
  height: 100px;
}

@media (max-width: 500px){
  .intro-header {
    height: 20px;
  }
}

@media (min-width: 600px){
  .intro-header {
    height: 50px;
  }
}
@media (min-width: 1200px){
  .intro-header {
    height: 150px;
  }
}


#section{
padding-left: 20px;
}

.section-title{
text-transform: uppercase;
font-size: 20px;
font-weight: 500;
color: #2d7788;
position: relative;
margin-top: 0;
margin-bottom: 20px;
}

.acote {
background: #cccccc;
padding: 0;
height: 100%;
min-height: 800px;
color: #fff;
}


.profile{
position: relative; 
width:120px;
height:120px;
line-height: 0; /* remove line-height */ 
display: inline-block;  /* circle wraps image */
border-radius: 50%; /* relative value */
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
}

.profile-shadow{
width: 130px;
height: 130px;
padding: 5px;
background: #ececec;
border-radius:320px;
box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
-moz-border-radius: 320px;
-webkit-border-radius: 320px;
}

.profile-container{
  padding: 30px;
  background: #4B4B4B;
  text-align: center;
  color: #fff;
}

.aside1{

width: auto;
margin-top: 50px;
margin-bottom: 50px;
padding-left: 10px;

}

.aside1 li{
  margin-bottom: 13px; 
}

.aside2 li{
  margin-bottom: 13px;
}

.aside2{
padding-left: 10px;
width: auto;
margin-top: 50px;
margin-bottom: 50px;
}

.aside2 h2{
  color: #333300;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

.tagline{
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.name{
  font-size: 32px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}

.clear {
clear: both;
}
footer{

width:auto;

height: 50px;
margin:0px;
padding: 10px;
}

.article footer{

width:auto;
height: 50px;
margin:0px;
padding: 5px;
}

.formation-title{
color: #3F4650;
font-size: 16px;
margin-top: 0;
margin-bottom: 0;
font-weight: 500;
}

.contact-list{
  color: #000000;

}



li{
  color: #000000;
  margin-bottom: 15px;
  font-size: 14px;

}

li span{
  font-family: 'Oswald', sans-serif;
}

